<h1>Post List</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= User.exists?(post.user_id) ? User.find(post.user_id).user_name : "No such user!"  %></td>
      <td><%= link_to "Edit", edit_post_path(post)  %></td>
      <td><%= link_to "Delete", post_path(post), :method => :delete %></td>
    <tr>
  <% end %>
</table>

<p><%= link_to "New Post", new_post_path %></p>
